@model List<ProjectWeb.Models.Product>
@{
    ViewBag.Title = "Trang chủ";
}


@*<div class="templatemo_product_box">
        <h1>Photography  <span>(by Best Author)</span></h1>
        <img src="~/images/templatemo_image_01.jpg" alt="image">
        <div class="product_info">
            <p>Etiam luctus. Quisque facilisis suscipit elit. Curabitur...</p>
            <h3>$55</h3>
            <div class="buy_now_button"><a href="subpage.html">Buy Now</a></div>
            <div class="detail_button"><a href="subpage.html">Detail</a></div>
        </div>
        <div class="cleaner">&nbsp;</div>
    </div>

    <div class="cleaner_with_width">&nbsp;</div>





    <div class="templatemo_product_box">
        <h1>Cooking  <span>(by New Author)</span></h1>
        <img src="~/images/templatemo_image_02.jpg" alt="image">
        <div class="product_info">
            <p>Aliquam a dui, ac magna quis est eleifend dictum.</p>
            <h3>$35</h3>
            <div class="buy_now_button"><a href="subpage.html">Buy Now</a></div>
            <div class="detail_button"><a href="subpage.html">Detail</a></div>
        </div>
        <div class="cleaner">&nbsp;</div>
    </div>

    <div class="cleaner_with_height">&nbsp;</div>*@




@for (int i = 1; i <= Model.Count(); i++)
{
    if (i % 2 != 0)
    {
        @Html.Raw("<div class='templatemo_product_box'>")
        <h1 style="text-align: center;">@Model[i - 1].TenSanPham </h1>
        <img src="@Model[i-1].HinhAnh" alt="#" width="30%" height="60%">
        <div class="product_info">
            <p>@Model[i - 1].MaSanPham</p>
            <h3>@Model[i - 1].GiaGoc</h3>
            <div class="buy_now_button"><a href='@Url.Action("AddItem","Cart",new { Idsp = Model[i-1].ID_SanPham })'>Buy Now</a></div>
            <div class="detail_button"><a href='@Url.Action("ProductDetail","Product",new { Iddetail=Model[i-1].ID_SanPham})'>Detail</a></div>
        </div>
        <div class="cleaner">&nbsp;</div>
        @Html.Raw("</div>")
        <div class="cleaner_with_width">&nbsp;</div>
    }
    else if (i % 2 != 0 && i == Model.Count)
    {
        @Html.Raw("<div class='templatemo_product_box'>")
        <h1 style="text-align: center;">@Model[i - 1].TenSanPham </h1>
        <img src="@Model[i-1].HinhAnh" alt="#" width="30%" height="60%">
        <div class="product_info">
            <p>@Model[i - 1].MaSanPham</p>
            <h3>@Model[i - 1].GiaGoc</h3>
            <div class="buy_now_button"><a href='@Url.Action("AddItem","Cart",new { Idsp = Model[i-1].ID_SanPham })'>Buy Now</a></div>
            <div class="detail_button"><a href='@Url.Action("ProductDetail","Product",new { Iddetail=Model[i-1].ID_SanPham})'>Detail</a></div>
        </div>

        <div class="cleaner">&nbsp;</div>
        @Html.Raw("</div>")
        <div class="cleaner_with_height">&nbsp;</div>

    }
    else
    {
        @Html.Raw("<div class='templatemo_product_box'>")
        <h1 style="text-align: center;">@Model[i - 1].TenSanPham </h1>
        <img src="@Model[i-1].HinhAnh" alt="#" width="30%" height="60%">
        <div class="product_info">
            <p>@Model[i - 1].MaSanPham</p>
            <h3>@Model[i - 1].GiaGoc</h3>
            <div class="buy_now_button"><a href='@Url.Action("AddItem","Cart",new { Idsp = Model[i-1].ID_SanPham })'>Buy Now</a></div>
            <div class="detail_button"><a href='@Url.Action("ProductDetail","Product",new { Iddetail=Model[i-1].ID_SanPham})'>Detail</a></div>
        </div>
        <div class="cleaner">&nbsp;</div>
        @Html.Raw("</div>")
        <div class="cleaner_with_height">&nbsp;</div>
    }

}

<a href="index.html"><img src="//theme.hstatic.net/1000231532/1000430083/14/home_bannertop.png?v=82" alt="css template ad" width="100%"></a>





@*<div class="templatemo_product_box">
        <h1>Gardening <span>(by Famous Author)</span></h1>
        <img src="~/images/templatemo_image_03.jpg" alt="image">
        <div class="product_info">
            <p>Ut fringilla enim sed turpis. Sed justo dolor, convallis at.</p>
            <h3>$65</h3>
            <div class="buy_now_button"><a href="subpage.html">Buy Now</a></div>
            <div class="detail_button"><a href="subpage.html">Detail</a></div>
        </div>
        <div class="cleaner">&nbsp;</div>
    </div>

    <div class="cleaner_with_width">&nbsp;</div>

    <div class="templatemo_product_box">
        <h1>Sushi Book  <span>(by Japanese Name)</span></h1>
        <img src="~/images/templatemo_image_04.jpg" alt="image">
        <div class="product_info">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            <h3>$45</h3>
            <div class="buy_now_button"><a href="subpage.html">Buy Now</a></div>
            <div class="detail_button"><a href="subpage.html">Detail</a></div>
        </div>
        <div class="cleaner">&nbsp;</div>
    </div>

    <div class="cleaner_with_height">&nbsp;</div>

    <a href="subpage.html"><img src="~/images/templatemo_ads.jpg" alt="ads"></a>*@


@*<ul>
        @foreach (var pro in Model)
        {
            <li>@pro.TenSanPham</li>
            <br />
            <img src="@pro.HinhAnh" width="50%" height="50%" />
            <br />

        }
    </ul>*@


